.planet-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.planet-heading {
    color: #05acff;
    font-size: 26px;
    font-weight: bold;
    font-family: "Roboto";
}
.planets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading {
    color: #f8fafc;
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto";
}
.description {
    color:  #f1f5f9;
    font-size: 16px;
    font-family: "Roboto";
    width: 500px;
}
.planet-image {
    height: 200px;
    width: 300px;
}